
        .menuLateral{
            opacity: .8;
            overflow-x: hidden;
            overflow-y: auto;
            z-index: 1500;
            width: 13%;
            left: 0;
            top: 0;
            position: fixed;
            height: 100%;
            background-color: #f2f2f2;
            color: white;
        }
        .menuLateral h3, h4{
            margin-left: 15px;
        }
        .menuLateral a{
            color: white;
        }
        .menuLateral a:hover{
            color: black;
        }
        .submenu{
            margin-left: 25px;
        }
        .gradiante {
            background: #34454c; /* For browsers that do not support gradients */
            background: -webkit-linear-gradient(left, #34454c , #536d79); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(right, #34454c, #536d79); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(right, #34454c, #536d79); /* For Firefox 3.6 to 15 */
            background: linear-gradient(to right, #34454c , #536d79); /* Standard syntax */
        } 
        .foto{
            color: white;
            margin-left: 15px;
            height: 50px;
            width: 100%;
            
        }
        .foto img{
            height: 50px;
            width: 50px;
            border-radius: 50%;
        }


        .boton{
            background-color: transparent;
            border: 0px;
            color: white;
        }
        .row-offcanvas {
            width: 100%;
        }
        #main {
            width: 100%;
            padding: 25px;
        }
        .tableEjemplo td{
            word-break: break-all;
        }
        #sidebar {
            width: 10%;
        }
        /*
        * off Canvas 
        */

        @media screen{
            .row-offcanvas {
                position: absolute;
                -webkit-transition: all 0.25s ease-out;
                -moz-transition: all 0.25s ease-out;
                transition: all 0.25s ease-out;
                width: auto;
            }
    
            .row-offcanvas-left{
                width: 87%;
                right: 0;
            }

            .row-offcanvas-left.active {
                width: 100%;
            }

        }